blinker==1.4
click==6.6
contextlib2==0.5.4
dogpile.cache==0.6.1
Flask==0.11.1
Flask-Weixin==0.5.0
gevent==1.1.2
greenlet==0.4.10
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pytz==2016.6.1
raven==5.24.3
requests==2.11.0
Werkzeug==0.11.10
xmltodict==0.10.2
